.white-txt{
	color: white !important;
}

.grey-txt{
	color: #808080 !important;
}

.red-txt{
	color: red;
}

.scolor{
  color: #202C45;

}

.display-inline{
    display: inline-block;
    list-style-type: none;
    margin: 10px 0px;
    padding: 0px;
    font-size: 13px !important;
}
.display-inline li{
	display: inline-block;
	margin: 0px 5px;

}

.sparent span{
	
	margin: 0px 5px;

}

.fcarousell .carousel-item img{
	  height: 650px;
	  object-fit: cover;
}

.top-header{
	background-color: #F2184F;
}
.fparent{
	display: flex;
    justify-content: start;
    align-items: center;
}

.sparent{
	display: flex;
    justify-content: end;
    align-items: center;
}

.font-13{
	font-size: 13px !important;
}

.font-15{
	font-size: 15px !important;
}

.font-16{
	font-size: 16px !important;
}

.font-14{
	font-size: 14px !important;
}

.font-12{
	font-size: 12px !important;
}

.font-11{
	font-size: 11px!important;
}

.font-24{
	font-size: 24px;
}

.font-18{
	font-size: 18px;
}

.font-36{
	font-size: 36px;
}

.mspace{
	margin: 0px 15px !important;
}

.card-body{
	text-align: right;
	padding: 10px;
}



.header-nav{
	position: relative;
	background-color: #202C45 !important;
}

.bg-light{
	background-color: transparent!important;
}




.nav-link{
	padding: 8px 16px!important;
    border-radius: 30px !important;
    transition: 0.5s;
}

.nav-link:hover{
	background-color: white;
	color: black !important;
}

.nav-pills .active{
	background-color: white!important;
	border-radius: 30px;
}

.mdmiddle > div > h5 i{
	margin-right: 3px;
}


.mid-header .col-md-3{
	padding-right: 10px;
	padding-left: 10px;
}

.bluehue{
	background-color: #5bc0de;
	padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.indicator1{
	
	height: 50px!important;
	width: 50px!important;
	border: solid 3px rgba(0,0,0,0.10);
	border-radius: 100%;
	overflow: hidden;
/*	opacity: 0;*/
}

.indicator1 > a{
	background-image: url('../images/first.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	display: block;
}

.indicator2{
	
	height: 50px!important;
	width: 50px!important;
	border: solid 3px rgba(0,0,0,0.10);
	border-radius: 100%;
	overflow: hidden;
/*	opacity: 0;*/
}

.indicator2 > a{
	background-image: url('../images/second.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	display: block;
}

.mid-header{
	padding-top: 5px;
}

.indicator3{
	
	height: 50px!important;
	width: 50px!important;
	border: solid 3px rgba(0,0,0,0.10);
	border-radius: 100%;
	overflow: hidden;
/*	opacity: 0;*/
}

.indicator3 > a{
	background-image: url('../images/third.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	display: block;
}

/*.indicator img{
	width: 100%;	
	height: 100%;
	object-fit: cover;
	display: block;
}	*/




.carousel-indicators li{
	background-color: rgb(0 0 0 / 50%);
}

.indicator1:hover{
	border-color:  #c5c5c5!important;
}

.indicator2:hover{
	border-color:  #c5c5c5!important;
}

.indicator3:hover{
	border-color:  #c5c5c5!important;
}
/*.carousel-item img{
	position: fixed!important;
	
}*/

.carousel-indicators .active {
    background-color: #c5c5c5!important;
}

/*.carousel-item {
	position: relative;
	height: 650px;
}*/

.carousel-indicators{
	opacity: 0;
	transition: 1s;
}

.carousel:hover .carousel-indicators{
    opacity: 1;
    
}

.firstt{
    position: absolute;
    top: 160px!important;
    left: 70px!important;
    bottom: 0px!important;
    text-align: left;
    right: 0px!important;
}

.firstt h5{
    font-size: 100px;
}

.firstt h3{
    font-size: 35px;
    padding: 0px 20px;
    border-left: 6px solid #F2184F !important;
    background-color: rgba(32, 44, 69, 0.75) !important;
    display: inline-block;
}

.firstt p{
    font-size: 16px;
    line-height: 28px;
}

.firstt a{
	padding: 10px 20px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    border-left: 6px solid #F2184F !important;
    background-color: rgba(32, 44, 69, 0.75) !important;
    line-height: 23px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.firstt a:hover{
	background-color: #101622!important;
}

/*.carousel-caption{
	max-width: 700px !important;
}
*/
.carousel-control-prev{
	width: 70px;
    height: 70px;
    border-radius: 100%;
    top: 50%;
    left: 20px;
    background-color: rgba(0,0,0,0.10);
    opacity: 0;
}

.carousel-control-next{
	width: 70px;
    height: 70px;
    border-radius: 100%;
    top: 50%;
    right: 20px;
    background-color: rgba(0,0,0,0.10);
    opacity: 0;
    transition: 1s;
}


.carousel:hover .carousel-control-next{
    opacity: 5;
}

.carousel:hover .carousel-control-prev{
    opacity: 5;
}


/*@media (min-width: 768px){
.firstt{
    position: absolute;
    top: 30px!important;
    left: 70px!important;
    bottom: 0px!important;
    text-align: left;
    right: 0px!important;
}
}*/

.secondd{
	top: 160px!important;
	margin: 0 auto;
	text-align: center;
}

.secondd h4{
	border-right: 6px solid #F2184F !important;
	border-left: 6px solid #F2184F !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
	color: #fff !important;
	display: inline-block;
	line-height: 54px;
	font-size: 28px;
	padding: 0px 30px;
	border-radius: 30px;
}

.secondd h5{

    border-radius: 30px;
    visibility: inherit;
    font-weight: 700;
    line-height: 70px;
    display: inline-block;
    background-color: rgba(32, 44, 69, 0.75) !important;
    padding: 0px 50px;
    
    font-size: 48px;
    
    
}

.secondd p{
    line-height: 28px;
    font-size: 16px;
}

.secondd a{
	line-height: 18px;
    
    margin: 0px;
    padding: 8px 20px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 13px;
    border-radius: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    color: white;
    text-decoration: none;
}

.secondd a:hover{
	background-color: white;
	color: black;
}

.thirdd{
	top: 160px!important;
	right: 50px!important;
	
	text-align: right;
}

.thirdd h5{
	border-right: 6px solid #F2184F !important;
	background-color: rgba(32, 44, 69, 0.75) !important;
	font-weight: 600;
	line-height: 72px;
	padding: 0px 20px;
	font-size: 64px;
	display: inline-block;
}

.thirdd h3{
	
	font-weight: 600;
	line-height: 54px;
	
	font-size: 32px;
}

.thirdd p{
	font-size: 16px;
    line-height: 28px;
}

.thirdd a{
	line-height: 23px;
	padding: 10px 20px;
	font-size: 14px;
	letter-spacing: 1px;
	border-right: 6px solid #F2184F !important;
    background-color: rgba(32, 44, 69, 0.75) !important;
     display: inline-block;
    color: white;
    text-decoration: none;
}


.thirdd a:hover{
	background-color: #101622!important;
}

.cardb h5{
   color: #202C45 !important;
   font-size: 32px;
   line-height: 1.42;
   font-weight: 500;
   margin-bottom: 20px;
  
   text-transform: uppercase;
}
.cardb > h5 > span{
   color: red;
}

.cardb h6{
	color: #666666 !important;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.42;
}

.cardb p{
	line-height: 1.7;
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
}

.cardb .btn-primary{
	border-left: 4px solid #F2184F !important;
	color: #fff;
    background-color: #202C45;
    margin-top: 20px !important;
    border-radius: 0;
    border-color: transparent;
}

.cardb a:hover{
   background-color: #101622!important;
}

.cardb .btn{
	font-size: 13px;
    padding: 8px 22px;
}

.second-section{
	    background-color: #f7f7f7 !important;
	    padding: 60px 0px;
}

.brute{
	margin-bottom: 10px;
}

.secc{
	padding: 0px;
}

.card{
border-radius: 0!important;
position: relative;
}

.card-img-top{
	border-radius: 0!important;
}

.card > .card-body {
	text-align: left;
	padding: 18px;
}

.experts{
	padding: 30px 0px 60px 0px;
}

.services{
	padding: 60px 0px 30px 0px;
}

.spy > .card-body > h5 {
	color: #202C45 ;
	line-height: 1.42;
	font-size: 18px;
	margin-bottom:  10px;
	height: 51px;
	overflow: hidden;
}

.card > .card-body > .btn-primary{
	color: #333333;
    background-color: #eeeeee;
    border-color: #eeeeee;
    display: inline-block;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 12px;
    border-radius: 0px;
    padding: 5px 17px!important;
}

.card > .card-body > a:hover{
	background-color: #d5d5d5;
}

.img-parent span{
	background: rgba(32, 44, 69, 0.7);
	border-right: 3px solid #F2184F;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 24px;
	padding: 5px 10px;
}

.card span > sup{
	
	font-size: 18px;
}

.img-parent{
	position: relative;
	overflow: hidden;
}

.poppup{
	border-top: 4px solid #F2184F;
	background: rgba(32, 44, 69, 0.7);
	bottom: -85px;
	position: absolute;
	padding: 10px 6px 5px 20px;
	width: 100%;
	transition: 0.5s;
}

.poppup p{
	
    margin: 0 0 10px;
    line-height: 1.5;
}



.poppup p > a:hover{
	color: #595959;
}
.card:hover .poppup{
	bottom: 0;
}



.nob{
	border: 0px;
}

.pele {
	margin-top:5px;
	background-color: #eeeeee;
	padding: 10px 16px 12px 30px!important;
}



.pele p{
	margin: 0px;
}

.pele h5{
	margin: 0px!important;
}

.circle{
	list-style-type: none;
	display: inline-block;
	line-height: 1.7;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border: 1px solid #918c8c;
	position: relative;
	overflow: hidden;
	margin-right: 2px;
}

.circle:hover{
	background-color: red;
	border-color: white;
}

.circle a{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 30px;
}

.styled-icons{
	bottom: 0;
    padding: 7px 20px 0 0;
    position: absolute;
    right: 0;
    width: 84%;
    background: rgba(32, 44, 69, 0.7);
    margin: 0px;
}

.styled-icons::after{
	border-image: none;
    border-style: solid;
    border-width: 22px;
    bottom: 0;
    content: "";
    display: block;
    height: 40px;
    left: -44px;
    position: absolute;
    width: 40px;
    border-color: transparent rgba(32, 44, 69, 0.75) rgba(32, 44, 69, 0.75) transparent;
}


.team-overlay::after{
    border-color: rgba(32, 44, 69, 0.75) transparent transparent rgba(32, 44, 69, 0.75);
    border-image: none;
    border-style: solid;
    border-width: 22px;
    bottom: -44px;
    content: "";
    display: block;
    height: 44px;
    left: 0px;
    position: absolute;
    width: 40px;
}

.team-overlay{
	height: 86.9%;
    padding: 40px 20px 0 30px;
    position: absolute;
    top: -92%;
    width: 100%;
    background-color: rgba(32, 44, 69, 0.7);
    transition: 0.5s;
}

.card:hover .team-overlay{
	top: -4px;
}

.team-overlay ul > li{
	list-style-type: none;

}

.team-overlay ul{
	margin-bottom: 20px;
	padding: 0px;
}

.team-overlay ul > li > i{
	margin-right: 10px;

}

.txt-parent P{
	max-width: 200px;
	margin: 0px;
}
.txt-parent h2{
	margin: 15px 0px 5px 0px;
	display: block;

}

.txt-parent {
	display: flex;
	flex-direction: column;
    position: absolute;
    top: -16px;
    right: 30px;
	
}

.inblock{
	display: inline-block;
}



.blink{
	position: relative;
	margin: 30px 0px;
}

.boop{
	position: relative;
}


a{
	text-decoration: none!important;
}

img{
	max-width: 100%;
	
}

.whb{
	background-color: white;
	margin-bottom: 15px;
	padding: 20px;
}

.profilepic{
	display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    overflow: hidden;
}

.info{
	
	display: inline-block;
    margin-left: 15px;
}
.content{
	position: relative;
}

.quotes{
	    position: absolute;
    font-size: 57px;
    color: #202c45;
    top: -25px;
    right: 10px;
    opacity: 0.2;
}

.info > p{
	color: #ffc300;
}

.blog1{
	background-color: #f7f7f7;
	padding: 60px 0px;
}

.bord{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-weight: 400;
	border-bottom: 1px dotted #d3d3d3;
}

.blline{
	display: inline-block;
	position: absolute;
	width: 54px;
	background-color: black;
	height: 1px;
	left: 0px;
	bottom: 0px;


}

.stats{
	background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 80px 0px;
    text-align: center;
    background-attachment: fixed;
/*    background-color: rgb(11 7 26 / 86%);*/
    /* background-blend-mode: hue; */
/*    background-blend-mode: darken;*/
    position: relative;
}

.stats:before{
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.statcolor:before {
	background-color: rgba(32, 44, 69, 0.9)
}

.icona{
	font-size: 45px;
}

.numbers{
	font-size: 44px;
	
	font-weight: 400;
}

.title{
	text-align: center;

}

.title h2 {
	position: relative;
	font-weight: 400;
	
}



.title .bl-line{
	margin: 10px auto 20px;
	width: 45px;
	background-color: black;
	height: 1px;
	left: 0px;
	bottom: 0px;
}

.title p {
	margin: 10px 0px 40px;
	
}

.nopad{
	padding-left: 5px;
	padding-right: 5px;
}


.nopad > .card > .card-body{
	text-align: center;
	background-color: #eeeeee;
	padding: 10px 10px 15px 10px;
	transition: 0.5s;
}

.nopad > .card > .card-body h5{
	margin: 0px;
}

.nopad > .card:hover .card-body{
	color: white!important;
	background-color: #F2184F;
	
}

.nopad > .card:hover .card-body > h5{
	color: white!important;
	
	
}

.allp{
	padding-right: 40px;
	padding-top: 60px;
}

.free-service{
	background-color: #f7f7f7
}
.gallery{
	padding: 60px 0px;
}


.gallery .carousel .carousel-control-prev{
	padding: 10px;
	background: none repeat scroll 0 0 rgb(213 128 128 / 80%);
	border-radius: 0;
	left: 0px;
	display: block;
	width: 30px!important;
	height: 50px!important;
	opacity: 1;
	
    

}


.gallery .carousel .carousel-control-next{
	padding: 10px;
	background: none repeat scroll 0 0 rgb(213 128 128 / 80%);
	border-radius: 0;
	right: 0px;
	display: block;
	width: 30px!important;
	height: 50px!important;
	opacity: 1;
	
    

}

.free-service .col-md-6{
	padding-right: 15px;
	padding-left: 15px;
}

.free-service .btn-primary{
	border-left: 4px solid #F2184F !important;
    color: #fff;
    background-color: #202C45;
    margin-top: 20px ;
    margin-left: 11px;
    border-radius: 0;
    border-color: transparent;;

}

.free-service .col-md-12{
	padding-right: 11px;
	padding-left: 11px;
}

.free-service .bord{
	margin-bottom: 40px;
}

.mb-30{
	margin-bottom: 30px;
}

.mb-15{
	margin-bottom: 15px;
}

.form-control{
	border-radius: 0;
}

.hovero{
	position: relative;
}

.hovertool{
	
	position: absolute;
	background-color: white;
	bottom: -310px;/*245*/
	left: 0;
	z-index: 2;
	width: 215px;
	opacity: 0;
	transition: 0.5s;
	display: none;
}

.hovertool ul{
  list-style-type: none;
  padding: 0px;
}

.hovertool ul li{
  margin:  0px;
}

.hovero:hover .hovertool{
	
	bottom: -310px;
	display: block;
	opacity: 1;
}

.hovertool  a{
	display: flex;
	padding: 5px ;
	justify-content: space-between;
	color: grey;
	transition: 0.3s;
}

.hovertool  a:hover{
	padding-left: 10px;
	color: black;
}

.navbar-nav li{
	margin: 12px 0px;
}

.hiddenmenu1{
	position: absolute;
	bottom: -93px;
	left: 115px;
	background-color: white;
	z-index: 0;
	width: 100px;
	opacity: 0;
	transition: 0.5s;
	display: none;
}



.hiddenmenu1 a{
	display: inline-block;
	padding: 5px;
	color: grey;
}

.hovmo1{
	position: relative;
}

.hovmo2{
	position: relative;
}

.hovmo1:hover .hiddenmenu1{
	opacity: 1;
	left: 215px;
	z-index: 2;
	display: block;
}

.hiddenmenu2{
	position: absolute;
	bottom: -95px;
	left: 115px;
	background-color: white;
	z-index: 0;
	width: 100px;
	transition: 0.5s;
	opacity: 0;
	display: none;
}

.hiddenmenu2 a{
	display: inline-block;
	padding: 5px;
	color: grey;
}

.hovmo2:hover .hiddenmenu2{
	opacity: 1;
	left: 215px;
	z-index: 2;
	display: block;
}



.header-nav:after{
	position: absolute;
	bottom: -1px;
	left: 0px;
	height: 1px;
	content: "";
	background-color: red;
	width: 100%;
	z-index: 1;
}

.blog{
	padding: 60px 0px;
}

.blog .col-md-7 .card{
   border: 0px;
}

.blog .col-md-7 .card-body{
	background-color: #f7f7f7;
}

.blog .col-md-7 .card-body span i{
	padding-right: 5px;
}

.blog .col-md-7 .card-body p{
	margin-top: 5px;
}

.blog .col-md-7 .card-body  h5{
	margin-bottom: 5px;
}

.blue-partners .container {
	position: relative;
}

.blue-partners .container > span{
	
	top: -61px;
}

.lil-next{
	position: absolute;
    background: #eeeeee;
    padding: 7px 12px;
    text-align: center;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.lil-prev{
	position: absolute;
    background: #eeeeee;
    padding: 7px 12px;
    text-align: center;
    top: 0px;
    right: 39px;
    cursor: pointer;
}



#accordion .card{
	border: 0;
	border-radius: none;
	margin-bottom: 10px;
}

#accordion .card-body{
	text-align: left;
	padding: 10px 15px 15px;
}

#accordion .card-header{
	border: 0;
	padding: 0px;

}

.wback{
	background-color: white!important;
}


#accordion .collapse{
	border: 1px solid #ddd;
}

#accordion button{
	width: 100%;
	text-decoration: none;
	text-align: left;
}

#accordion button i{
	padding: 13px;
}

#accordion .btn{
	padding: 0px;
    border-radius: 0px;
    border: 0px;
}


.purchasesec{
	background-color: #F2184F;
}

.purchasesec h2{
	
	margin: 35px 0px;

}

.purchasesec a{
	display: inline-block;
	margin: 30px 0px;
	background-color: #202C45;
	padding: 10px 26px;
}

.txt-right{
	text-align: right;
}

.footparent ul{
	list-style-type: none;
	padding: 0px;
}

.footparent img{
	margin: 5px 0px 20px 0px;
}

.footparent ul li i{
	padding: 5px 5px;

}

footer {
	
	
	position: relative;
}

.layer-overlay {
	background-image: url('../images/footerbg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-blend-mode: color;
	background-color: #fafafa00;
	padding-top: 70px;
	
	position: relative;
}

.l-overlay:before{
	background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

}

.layer-overlay:before{
	background-color: rgba(17, 17, 17, 0.8);
}

.dotborders li{
	border-bottom: 1px dashed #404040;
	margin-bottom: 8px;
	padding-bottom: 8px;
    line-height: 1.7;
}

.lheight{
	line-height: 1.7;
}
.footparent h2{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.footparent h2:after{
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 50px;
	content: "";
	height: 1px;
	background-color: #f2184F;
}

.flexx{
	display: flex;
	justify-content: space-between;
	padding: 4px 0px 16px 0px!important;
	margin-bottom: 11px!important;
}

.crazyline{
	height: 1px;
	background-color: #8080807a;
	margin: 15px 0px;
}

.nom{
	margin: 0;
}

.socmedia li{
   display: inline-block;
}

.socmedia li a{
	display: inline-block;
	font-size: 13px;
    height: 30px!important;
    line-height: 30px;
    margin: 2px 7px 2px 0;
    width: 30px!important;
    border: 1px solid #777777;
    text-align: center;
}

.footparent .btn{
	padding: 8px 14px;
}


.footparent .form-control{
	padding: 10px 16px;
	border: 2px solid red;
}

.pleft{
	padding-left: 220px;
}
.footerend{
	background-color: #333333;
	padding: 20px 0px;
}

.footerend p{
   margin: 10px 0px;
}


.modal-header{
	background-color: #202C45 ;
}

.modal-content{
	height: 1200px;
}

.modal-content h3{
	margin-bottom: 15px;
}

.modal-content .col-md-6{
	margin-bottom: 30px;
}

.mtop{
	margin-top: 15px;
}
.form-check-input{
	width: 30px;
    height: 25px;
    margin-right: 10px;
}
.dropdown-toggle{
	overflow: hidden;
	width: 100%;
	border: 1px solid grey;
	padding: 10px;
	border-radius: 2px;
	background: rgb(238, 238, 238);
}

.dropdown-toggle img{
	max-width: 64px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.dropdown-toggle span{
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 45px;
}
.dropdown-toggle h4{
	text-align: left;
	margin-bottom: 10px;
	margin-top: 3px;
}

.dropdown-item{
	overflow: hidden;
	padding: 15px 10px;
	border: 1px solid grey;
	background: rgb(238, 238, 238);
}

.dropdown-item img{
	max-width: 64px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.dropdown-item span{
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 85px;
}

.dropdown-item h4{
	text-align: left;
	margin-bottom: 10px;
	margin-top: 3px;
}

.dropdown-menu{
	padding: 0px;
	max-height: 275px;
	overflow: auto;
}

.dropdown-menu::-webkit-scrollbar{
	width: 3px;
}

.dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid green;
  
}

.slider{
   height: 34px;
   background-color:  #2aa1c0;
}

.navbar2{
	position: relative;
	width: 100%;
}

.modaltrigger{
	position: absolute;
	height: 75px;
	bottom: 0px;
	right: 0px;
	width: 98px;
	border-radius: 0px;
	cursor: pointer;
	z-index: 3;

}

.scolor:not(.collapsed){
  background-color: #202C45;
  color: white;
}

.scolor:not(.collapsed) i{
  background-color: #F2184F;
  color: white;
}

.modbutton{
	color: #fff;
    background-color: #202C45;
    border-color: #202C45;
    border-left: 4px solid #F2184F;
    padding: 10px 26px;
    margin-top: 30px;
    border-radius: 0px;
}

.buttonss{
	text-align: center;
}

.lpadding{
	padding-left: 0px;

}

.lrpadding{
	padding-left: 0px;
	padding-right: 0px;
	
}


.datefloater{
	position: absolute;
	background-color: #202C45;
	border-top: 3px solid #F2184F;
	padding: 5px 15px;
	right: 10px;
	top: 172px;
}

.partners{
	padding-bottom: 40px;
}

.cart-parent{
	position: relative;
	display: inline-block;
    height: 39px;
    /* vertical-align: middle; */
    padding-top: 10px;
}

.cart-parent:hover{
	color: black!important;
}

.cartdrop{
	position: absolute;
	background-color: white;
	height: 350px;
    width: 300px;
    z-index: 5;
    padding: 15px;
    bottom: -351px;
    left: -262px;
    text-align: right;
    display: none;
}

.cart-parent:hover .cartdrop{
	display: block;
}

.cartdrop .row{
	margin-top: 50px;
}

.cartdrop p {
	color: #222;
	
}

.cartdrop > p {
	margin-bottom: 5px;
}

.cartdrop > a {
	display: inline-block;
	background-color: #202C45;
	padding: 5px 15px;
	border-radius: 3px;
	border: 1px solid transparent;
	margin-top: 20px;
}

.cartdrop > a:hover {
	
	background-color: black;
	
}





.cartdrop p a{
	color: #222;
	margin-right: 10px;
}

.cartdrop p span{
	margin-left: 15px;
}

.cartdrop p a:first-child{
	display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 10px;

}

.cartdrop p a:last-child{
	
    margin-left: 15px;
    

}

.search-parent{
	position: relative;
	display: inline-block;
    height: 39px;
    /* vertical-align: middle; */
    padding-top: 10px;
}

.search-bar{
	position: absolute;
	background-color: white;
	width: 300px;
	height: 110px;
	z-index: 5;
	right: -7px;
	bottom: -111px;
	display: none;
}


.search-parent:hover .search-bar{
	display: block;
}

.search-bar form{
	margin-top: 20px;
    padding: 10px;
    position: relative;
}

.search-bar form button{
	position: absolute;
	border: none;
	background-color: transparent;
	right: 12px;
    top: 12px;
    padding: 10px;
    cursor: pointer;
}

.search-bar form input{
	padding: 10px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #8080805c;
}


.blurr{
	position: relative;
	display: inline-block;
}

.blurr:before{
	position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #80808040;
}


.baner {
	background-image: url('../images/footerbg.jpg');
	background-repeat: repeat-y;
	background-position: top center;
	background-size: cover;
	background-blend-mode: color;
	background-color: #fafafa00;
	padding-top: 70px;
	background-attachment: fixed;
	position: relative;
}

.baner:before{
	background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

}

.baner2:before{
	background-color: rgba(17, 17, 17, 0.8);
}


.baner h2{
	font-size: 34px;
	font-weight: 200;
	padding: 200px 0px 50px 0px;
}

.tag{
	border: 1px solid #404040;
	display: inline-block;
	margin: 5px 4px 5px -2px;
	padding: 5px 10px;
}

.tag:hover{
	color: white!important;
	background-color: red;
}


.secform input{
	background-color: transparent;
    padding: 6px 12px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #80808057;
}

.secform textarea{
	background-color: transparent;
    padding: 6px 12px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #80808057;
}


.secform button{
	padding: 5px 10px;
	background-color: transparent;
	border: 1px solid #80808057;
}

.foottextparent{
	text-align: center;
}

.socm li{
	display: inline-block;
	margin: 10px;
}

.layer-overlay2{
	background-color: #181717fc;
	padding-top: 60px;
}

.footerend2{
	background: rgb(47, 47, 47);
	padding: 10px 0px;
	margin-top: 50px;
}

.footerend2 p{
	margin-top: 10px;
}

.blue-partners{
	background-color: #202C45;
	border-bottom: 1px solid #F2184F;
	border-top: 1px solid #F2184F;
	padding: 30px 0px;
}

.inffo{
	padding: 60px 0px;
	text-align: center;
	background-color: #f7f7f7;
	border-right: 1px solid #dcdcdc;
}


.contactinfo .col-md-4{
    padding: 0px;
}

.contactinfo2{
	padding: 30px 0px 90px 0px;
}

.contactinfo2 .modbutton{
	padding: 5px 26px;
	margin-top: 0px;
}

.contactinfo2 .modbutton:hover{
	background-color: black;
}




/*@media (min-width: 768px) and (max-width: 991px){
.hidden-sm {
    display: none!important;
}
}*/


/*@media (min-width: 1200px){
.container {
    max-width: 1200px;
}
}*/

@media (min-width: 1200px){
.container {
    max-width: 1170px;
}
}

@media (max-width: 768px) {
.mdmiddle {
    display: flex;
    justify-content: space-around;
}

.fparent{
	justify-content: space-around;
}

.sparent{
	justify-content: space-around;
}

}

@media (max-width: 1000px){
	.navbar-toggler{
		background-color: white;
		border: 1px solid red;
	}
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
}

@media (max-width: 991px){
	.modaltrigger{
		display: none;
	}
	.navbar{
		justify-content: end;
	}

	.pleft{
		padding-left: 15px;
	}

    .firstt h5{
    	font-size: 70px;
    }

    .firstt h3{
    	font-size: 30px;
    }

    .firstt p{
    	font-size: 12px;
    }

    .secondd h5{
    	font-size: 40px;
    }

    .secondd h3{
    	font-size: 30px;
    }

    .secondd p{
    	font-size: 12px;
    }



	.navbar-toggler{
		background-color: transparent;
		border: 1px solid red!important;
	}
}
@media (max-width: 768px){
	.lpadding{
		text-align: center;
	}

	.maxwidth400{
		max-width: 400px;
		margin: 0px auto 20px auto;
	}

	.firstt h5{
    	font-size: 60px;
    }

    .firstt h3{
    	font-size: 25px;
    }

    .firstt p{
    	font-size: 12px;
    }

    .secondd h5{
    	font-size: 30px;

    }

    .secondd h3{
    	font-size: 16px;
    }

    .secondd p{
    	font-size: 12px;
    }

    .thirdd h5{
    	font-size: 40px;
    }

    .thirdd h3{
    	font-size: 25px;
    }

    .thirdd p{
    	font-size: 12px;
    }
}

@media (min-width: 400px){
.d-md-block {
    display: block!important;
}
}
/*@media (min-width: 991px) and (max-width:1199){
	.txt-parent {
		right: -25px;
	}
}*/
